 
.contain{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.m1{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row; 
    margin-left:25vw;
    margin-right:25vw;
    flex-wrap: wrap;
}
.m2{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-left:15vw;
    margin-right:15vw;
    flex-wrap: wrap;

}
.m3 {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-left:10vw;
    margin-right:10vw;
    flex-wrap: wrap;

}
.m4 {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-left:10vw;
    margin-right:10vw;
    flex-wrap: wrap;

}
.m5{
    margin-left:45px;
}
.m6{
  margin-left:48px;
}
.m7{
    margin-left:30px;
  }

  /* Media query for tablets (landscape) */
@media only screen and (min-width: 768px) and (max-width: 1455px) {
    .a1{
       font-size: medium; 
    }
  }
  
  
  
  /* Media query for smartphones (landscape and portrait) */
  @media only screen and (max-width: 767px) {
   .a1{
    font-size: smaller;
   }
  }
/* Media query for tablets (portrait) */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .a1{
    font-size: medium;
  }
  }
  /* Media query for large desktops */
/* @media only screen and (min-width: 1200px) {
    .a1{
        font-size: large;
    }
  } */
  